@font-face {
    font-family: RobotoFlex;
    src: url('./fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf') format('truetype');
}

body {
    margin: 0;
}

#textElem {
    font-family: RobotoFlex;
    font-style: normal;
    font-size: 20px;
    transition: 1s;
    line-height: 2;
    margin: 0;
    height: fit-content;
    mix-blend-mode: multiply;
    color: rgba(0, 0, 0, 0.04);
    background-color: white;
    position: absolute;
    padding: 10px 20px;
    top: 0;
    line-break: anywhere;
}

#ambient-light-value {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1em;
    opacity: 0 !important;
}

#request-hid-device {
    margin: 0 auto;
    position: absolute;
}

#error {
    display: none;
    text-align: center;
    color: red;
}

video {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    object-fit: fill;
    top: 0;
    opacity: 0;
}