* {
    transition: 1s;
    /* height: 200vh; */
}

@font-face {
    font-family: RobotoFlex;
    src: url('./fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf') format('truetype');
}

h3 {
    font-family: RobotoFlex;
    font-variation-settings: "wght" 700;
    line-height: 1.15;
    margin: 0;
    font-size: 15px;
    transition: 0.5s;
}

.h3.scroll {
    font-family: RobotoFlex;
    font-variation-settings: "wght" 700, "XOPQ" 96, "YOPQ" 79, "YTLC" 416, "YTUC" 760;
    line-height: 1.15;
    margin: 0;
    font-size: 15px;
}

p {
    font-family: RobotoFlex;
    font-variation-settings: "wght" 400, "XOPQ" 101, "YOPQ" 80, "YTLC" 712, "YTUC" 750;
    font-style: normal;
    font-size: 12px;
    transition: 1s;
}

.header {
    width: fit-content;
    padding: 60px 30px 0 10px;
}

.header1 {
    width: 64.28571429vw;
    height: 75vh;
    border-right: 1px solid #EFF4FA;
    border-bottom: 1px solid #EFF4FA;
    padding: 60px 15px 0 30px;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

body {
    margin: 0;
}

.navBar {
    padding: 10px 30px;
    background-color: #191A1C;
    position: fixed;
    width: 100vw;
    z-index: 1;
    border-bottom: 1px solid #EFF4FA;
    top: 0;
}

.page1 {
    height: 200vh;
    width: 100vw;
}

.intro {
    width: 21.42857143vw;
    padding-right: 15px;
}

.jellies1 {
    width: 21.42857143vw;
    height: auto;
    padding: 0 15px;
}

.jellies1Container {
    padding-top: 30px;
    padding-left: 14.28571429vw;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28.57142857vw;
}

.subtitle {
    margin-top: -1.5em;
}

#ambient-light-value {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1em;
}

#request-hid-device {
    display: none;
    margin: 0 auto;
}

#error {
    display: none;
    text-align: center;
    color: red;
}